src/main/resources/wsdl-generated.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.arturfrimu.com/schemas"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://www.arturfrimu.com/spring-ws-insurance"
                  targetNamespace="http://www.arturfrimu.com/spring-ws-insurance">
    <wsdl:types>
        <xs:schema xmlns:ws="http://www.arturfrimu.com/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   attributeFormDefault="unqualified" elementFormDefault="qualified"
                   targetNamespace="http://www.arturfrimu.com/schemas">
            <!--     SSN. Format must be 999-99-999 or 99999999  -->
            <xs:simpleType name="ssnType">
                <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9]{3}-[0-9]{2}-[0-9]{3}|\d{9}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="InsuranceApplication">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Applicant" type="sch:ApplicantType"/>
                        <xs:element name="InsuranceInfo" type="sch:InsuranceInfoType"/>
                        <xs:element name="WidgetInfo" type="sch:WidgetInfoType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="ApplicantType">
                <xs:sequence>
                    <xs:element default="999-99-999" name="SSN" type="ws:ssnType"/>
                    <xs:element name="FirstName" type="xs:string"/>
                    <xs:element name="MiddleName" type="xs:string"/>
                    <xs:element name="LastName" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InsuranceInfoType">
                <xs:sequence>
                    <xs:element name="product" type="xs:string"/>
                    <xs:element name="coverageType" type="xs:string"/>
                    <xs:element name="coverageOption" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WidgetInfoType">
                <xs:sequence>
                    <xs:element name="wgtAmount" type="xs:string"/>
                    <xs:element name="wgtContractNumber" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:portType name="InsuranceService"></wsdl:portType>
    <wsdl:binding name="InsuranceServiceSoap11" type="tns:InsuranceService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    </wsdl:binding>
    <wsdl:service name="InsuranceServiceService">
        <wsdl:port binding="tns:InsuranceServiceSoap11" name="InsuranceServiceSoap11">
            <soap:address location="http://localhost:8081/spring-ws/insuranceService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>