src/main/webapp/WEB-INF/insuranceapplication.wsdl

<wsdl:definitions
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:schema="http://www.arturfrimu.com/schemas"
        xmlns:tns="http://www.arturfrimu.com/definitions"
        targetNamespace="http://www.arturfrimu.com/definitions"
>
    <wsdl:types>
        <xs:schema
                attributeFormDefault="unqualified"
                elementFormDefault="qualified"
                targetNamespace="http://www.arturfrimu.com/schemas"
                xmlns:ws="http://www.arturfrimu.com/schemas"
                xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <!--    SSN. Format must be 999-99-999 or 99999999 -->
            <xs:simpleType name="ssnType">
                <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9]{3}-[0-9]{2}-[0-9]{3}|\d{9}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="InsuranceApplicationRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="sch:ApplicantType" name="Applicant" xmlns:sch="http://www.arturfrimu.com/schemas"/>
                        <xs:element type="sch:InsuranceInfoType" name="InsuranceInfo"
                                    xmlns:sch="http://www.arturfrimu.com/schemas"/>
                        <xs:element type="sch:WidgetInfoType" name="WidgetInfo" xmlns:sch="http://www.arturfrimu.com/schemas"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="ApplicantType">
                <xs:sequence>
                    <xs:element type="ws:ssnType" name="SSN" default="999-99-999"/>
                    <xs:element type="xs:string" name="FirstName"/>
                    <xs:element type="xs:string" name="MiddleName"/>
                    <xs:element type="xs:string" name="LastName"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InsuranceInfoType">
                <xs:sequence>
                    <xs:element type="xs:string" name="product"/>
                    <xs:element type="xs:string" name="coverageType"/>
                    <xs:element type="xs:string" name="coverageOption"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WidgetInfoType">
                <xs:sequence>
                    <xs:element type="xs:string" name="wgtAmount"/>
                    <xs:element type="xs:string" name="wgtContractNumber"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="InsuranceApplicationRequest">
        <wsdl:part name="InsuranceApplicationRequest" element="tns:InsuranceApplicationRequest"/>
    </wsdl:message>
    <wsdl:portType name="InsuranceApplicationPort">
        <wsdl:operation name="InsuranceApplication">
            <wsdl:input message="tns:InsuranceApplicationRequest" name="InsuranceApplicationRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="InsuranceApplicationBinding" type="tns:InsuranceApplicationPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="InsuranceApplication">
            <soap:operation soapAction=""/>
            <wsdl:input name="InsuranceApplicationRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="InsuranceApplicationServicePort">
        <wsdl:port binding="tns:InsuranceApplicationBinding" name="InsuranceApplicationBinding">
            <soap:address location="http://localhost:8081/spring-ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>